:root {
  --line-color: #e9e9e9;
  --line: 1px solid var(--line-color);
  --bg-color: #f2f2f2;
  --bg-element: #fff;
  --text-title: #333;
  --text-level1: #636363;
  --text-level2: #a09f9f;
  --themeColor: #ed3da1;
  --themeColorLevel1: rgb(from var(--themeColor) r g b / .1);
  --themeColorLevel2: rgb(from var(--themeColor) r g b / .8);
  --radius: 8px
}

.discuss-wrapper {
  font-family: "PingFang SC", PingFangSC-Regular, "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
  background-color: var(--bg-element);
  border: var(--line);
  border-radius: var(--radius);
}

.discuss-wrapper .tag {
  display: inline-block;
  padding: 3px 10px;
  font-size: 12px;
  color: var(--themeColor);
  background-color: var(--themeColorLevel1);
  border-radius: 5px
}

.discuss-wrapper.dark {
  --line-color: #363636;
  --line: 1px solid var(--line-color);
  --bg-color: #292929;
  --bg-element: black;
  --text-title: #e7e7e7;
  --text-level1: #b9b9b9;
  --themeColor: #ed3da1;
  --themeColorLevel1: #241b20;

  background-color: black;
  background-image: url("/assets/img/star.png");
  background-repeat: repeat
}

@media (width <= 767px) {
  .discuss-wrapper .discuss-submit .input-submit {
    flex-direction: column
  }

  .discuss-wrapper .discuss-submit .input-submit button {
    width: 100%;
    min-width: 100px !important;
    margin-top: 10px;
    margin-left: 0 !important;
    font-size: 14px !important
  }
}

.discuss-wrapper .w-button {
  position: relative;
  display: inline-flex;
  padding: 8px 16px;
  color: white;
  cursor: pointer;
  background: var(--themeColor);
  border: none;
  border-radius: 5px;
  outline: none;
  align-items: center;
  justify-content: center
}

.discuss-wrapper .w-button:active,.w-button:hover {
  background: var(--themeColorLevel2)
}

.discuss-wrapper .w-button[loading]::before,.w-button[loading="true"]::before {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  border: 3px solid transparent;
  border-top-color: #fff;
  border-radius: 50%;
  content: "";
  animation: button-loading-spinner 1s ease infinite
}

@keyframes button-loading-spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.discuss-wrapper .w-button[loading="false"]::before {
  display: none !important
}

.discuss-wrapper p {
  margin: 0;
}

.discuss-wrapper .discuss-comment {
  font-size: 15px;
  color: var(--text-title)
}

.discuss-wrapper .discuss-submit {
  position: relative;
  padding: 0 0 20px
}

.discuss-wrapper .discuss-submit .discuss-dialog {
  position: absolute;
  inset: 0
}

.discuss-wrapper .discuss-submit .discuss-dialog .discuss-dialog-item {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(27,27,27,0.87);
  align-items: center;
  justify-content: center
}

.discuss-wrapper .discuss-submit .discuss-dialog .discuss-dialog-item .discuss-dialog-item-inner {
  padding: 20px;
  margin: 0 20px;
  background-color: var(--bg-element);
  border: var(--line);
  border-radius: 10px
}

.discuss-wrapper .discuss-submit .discuss-dialog .discuss-dialog-item .discuss-dialog-item-inner .discuss-dialog-title {
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  text-align: center
}

.discuss-wrapper .discuss-submit .discuss-dialog .discuss-dialog-item .discuss-dialog-item-inner .discuss-dialog-message {
  font-size: 14px
}

.discuss-wrapper .discuss-submit .discuss-dialog .discuss-dialog-item .discuss-dialog-item-inner .discuss-dialog-btns {
  display: flex;
  padding-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap
}

.discuss-wrapper .discuss-submit .discuss-dialog .discuss-dialog-item .discuss-dialog-item-inner .discuss-dialog-btns button {
  display: inline-flex;
  padding: 0 10px;
  margin-top: 10px;
  margin-left: 10px;
  line-height: 30px;
  cursor: pointer;
  border: var(--line);
  border-radius: 5px;
  outline: none;
  align-items: center;
  justify-content: center
}

.discuss-wrapper .discuss-submit .discuss-dialog .discuss-dialog-item .discuss-dialog-item-inner .discuss-dialog-btns button:first-child {
  margin-left: 0
}

.discuss-wrapper .discuss-submit .discuss-dialog .discuss-dialog-item .discuss-dialog-item-inner .discuss-dialog-btns button svg,.discuss-wrapper .discuss-submit .discuss-dialog .discuss-dialog-item .discuss-dialog-item-inner .discuss-dialog-btns button img {
  width: 20px;
  height: 20px;
  margin-right: 5px
}

.discuss-wrapper .discuss-submit .discuss-toast {
  position: absolute;
  top: 30px;
  right: 0;
  left: 0;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

.discuss-wrapper .discuss-submit .discuss-toast .discuss-toast-item {
  padding: 5px 10px;
  margin-top: 20px;
  background-color: #067b06;
  border-radius: 10px
}

.discuss-wrapper .discuss-submit .discuss-toast .discuss-toast-item:first-child {
  margin-top: 0
}

.discuss-wrapper .discuss-submit .discuss-toast .discuss-toast-item.error {
  background-color: #ba0000
}

.discuss-wrapper .discuss-submit .discuss-toast .discuss-toast-item p {
  color: white
}

.discuss-wrapper .discuss-submit .input-title {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 16px !important;
  font-weight: 500 !important;
  color: var(--text-title) !important;
  border-bottom: var(--line)
}

.discuss-wrapper .discuss-submit .input-subtitle {
  padding: 20px;
  padding-bottom: 0;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: var(--themeColorLevel2) !important
}

.discuss-wrapper .discuss-submit .input-name {
  margin: 0 20px;
  margin-top: 20px;
  overflow: hidden;
  background-color: var(--bg-color);
  border: var(--line);
  border-radius: 5px
}

.discuss-wrapper .discuss-submit .input-name input {
  width: 100%;
  padding: 0;
  line-height: 30px;
  color: var(--text-title);
  text-indent: 10px;
  background-color: transparent;
  border: 0;
  outline: none
}

.discuss-wrapper .discuss-submit .input-comment {
  height: 120px;
  padding: 10px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  overflow: hidden;
  background-color: var(--bg-color);
  border: var(--line);
  border-radius: 5px
}

.discuss-wrapper .discuss-submit .input-comment textarea {
  width: 100%;
  height: 100%;
  padding: 0;
  line-height: 22px;
  color: var(--text-title);
  background-color: transparent;
  border: 0;
  outline: none;
  resize: none;
}

.discuss-wrapper .discuss-submit .input-submit {
  position: relative;
  display: flex;
  padding: 0 20px;
  margin-top: 20px;
  align-items: center
}

.discuss-wrapper .discuss-submit .input-submit .flex-empty {
  flex: 1
}

.discuss-wrapper .discuss-submit .input-submit button {
  min-width: 120px;
  font-size: 16px;
  font-weight: 400;
  text-align: center
}

.discuss-wrapper .discuss-submit .input-submit button:last-child {
  margin-left: 20px
}

.discuss-wrapper .discuss-submit .input-submit .metamask {
  background-color: #be7b00
}

.discuss-wrapper .discuss-submit .input-submit .metamask svg {
  height: 24px;
  margin: -3px 10px -3px 0
}

.discuss-wrapper .discuss-submit .input-msg {
  display: flex;
  padding: 0 20px;
  margin-top: 10px;
  font-size: 12px;
  color: orange;
  justify-content: right;
  align-items: center
}

.discuss-wrapper .discuss-submit .input-msg .icon-loading {
  width: 6px;
  height: 6px;
  margin-right: 5px
}

.discuss-wrapper .discuss-title-area .dt-title {
  padding: 10px 0 10px 20px;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-title);
  border-top: var(--line)
}

.discuss-wrapper .discuss-list {
  padding: 0;
}

.discuss-wrapper .discuss-list .discuss-item {
  padding: 20px;
  border-bottom: var(--line);
}

.discuss-wrapper .discuss-list .discuss-item:first-child {
  border-top: var(--line);
}

.discuss-wrapper .discuss-list .discuss-item:last-child {
  border-bottom: 0;
}

.discuss-wrapper .discuss-list .discuss-item .chain-logo {
  height: 14px;
  padding: 3px;
  margin-left: 5px;
  line-height: 14px
}

.discuss-wrapper .discuss-list .discuss-item .chain-logo svg {
  width: 14px !important;
  height: 14px !important
}

.discuss-wrapper .discuss-list .discuss-item .discuss-chain {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
  font-size: 12px
}

.discuss-wrapper .discuss-list .discuss-item .discuss-chain .discuss-from {
  display: flex;
  margin-right: 20px;
  color: var(--text-level1);
  flex-wrap: wrap;
  align-items: center
}

.discuss-wrapper .discuss-list .discuss-item .discuss-chain .discuss-from svg {
  width: 14px !important;
  height: 14px !important;
  margin-right: 5px
}

.discuss-wrapper .discuss-list .discuss-item .discuss-meta {
  display: flex;
  padding-bottom: 10px;
  align-items: center
}

.discuss-wrapper .discuss-list .discuss-item .discuss-meta .discuss-user {
  font-size: 14px;
  font-weight: 500;
  color: var(--themeColor)
}

.discuss-wrapper .discuss-list .discuss-item .discuss-meta .discuss-time {
  margin-left: 10px;
  font-size: 12px;
  color: #b4b4b4
}

.discuss-wrapper .discuss-list .discuss-item .discuss-txhash {
  display: inline-block;
  padding: 3px 10px;
  font-size: 12px;
  color: var(--themeColor);
  background-color: var(--themeColorLevel1);
  border-radius: 5px
}

.discuss-wrapper .discuss-list .discuss-item .discuss-children {
  padding-top: 10px;
  padding-left: 20px;
  margin-top: 10px;
  font-size: 13px;
  border-top: var(--line)
}

.discuss-wrapper .discuss-list .discuss-item .discuss-children .discuss-user {
  font-size: 13px
}

.discuss-wrapper .discuss-list .discuss-empty {
  padding: 40px 20px 20px;
  text-align: center;
  border-top: var(--line);
}

.discuss-wrapper .discuss-list .discuss-empty svg {
  width: 80px;
  height: 80px;
  margin: auto
}

.discuss-wrapper .discuss-list .discuss-empty svg path {
  fill: var(--text-title)
}

.discuss-wrapper .discuss-list .discuss-empty .empty-tip {
  margin-top: 20px;
  font-size: 12px;
  color: var(--text-level1)
}

.discuss-wrapper .discuss-logo-area {
  padding: 8px 0;
  padding: 0 20px;
  text-align: left;
  border-top: var(--line);
}

.discuss-wrapper .discuss-logo-area .logo-stage{
  display: flex;
  text-align: left;
  justify-content: space-between;
  align-items: center;
}

.discuss-wrapper .discuss-logo-area .logo-stage img{
  height: 30px;
}

.discuss-wrapper .discuss-logo-area .want-tip {
  display: flex;
  font-size: 12px;
  color: var(--text-level2);
  align-items: center;
}

.discuss-wrapper .discuss-logo-area .want-tip .chain-logo {
  display: block;
  height: 16px;
  padding: 2px;
  margin-left: 4px;
}

.discuss-wrapper .discuss-logo-area .want-tip .chain-logo svg{
  width: 100% !important;
  height: 100% !important;
}

.code-content {
  margin-right: auto;
  margin-left: auto
}

.code-content,.discuss-wrapper {
  overflow-x: auto;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--text-title);
  word-break: break-word
}

.code-content .s-notice.s-notice__info,.discuss-wrapper .s-notice.s-notice__info {
  display: none
}

.code-content h1,.discuss-wrapper h1 {
  font-size: 18px
}

.code-content h2,.discuss-wrapper h2 {
  font-size: 17px
}

.code-content h3,.discuss-wrapper h3 {
  font-size: 16px
}

.code-content h4,.discuss-wrapper h4 {
  font-size: 15px
}

.code-content h5,.discuss-wrapper h5 {
  font-size: 14px
}

.code-content h6,.discuss-wrapper h6 {
  font-size: 13px
}

.code-content p,.discuss-wrapper p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--text-title);
  word-break: break-word
}

.code-content img,.discuss-wrapper img {
  display: block;
  max-width: 100% !important;
  padding: 0;
  margin: auto;
  text-align: center;
  background: white
}

.code-content pre,.discuss-wrapper pre {
  padding: 15px;
  margin-bottom: 20px;
  overflow: auto;
  font-size: 13px;
  color: #e6e6e6 !important;
  word-break: break-word;
  word-wrap: normal;
  white-space: pre;
  background: #2d2d2d;
  border: 0 solid #ccc;
  border-radius: 0;
  border-radius: 4px
}

.code-content pre code,.code-content pre p,.code-content pre span,.code-content pre *,.discuss-wrapper pre code,.discuss-wrapper pre p,.discuss-wrapper pre span,.discuss-wrapper pre * {
  color: #e6e6e6 !important
}

.code-content blockquote,.discuss-wrapper blockquote {
  padding: 20px;
  margin: 0 0 20px;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #272727;
  word-break: break-word;
  background-color: #f7f7f7;
  border-left: 6px solid #b4b4b4
}

.code-content code,.discuss-wrapper code {
  padding: 0 3px;
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  font-size: 12px;
  font-weight: 400;
  color: #e6e6e6 !important;
  word-break: break-word;
  word-wrap: normal;
  background: #2d2d2d;
  border: none
}

.code-content hr,.discuss-wrapper hr {
  margin: 0 0 20px;
  border: 0;
  border-top: var(--line)
}

.code-content a,.discuss-wrapper a {
  color: var(--themeColor)
}
